/* FONT */
* {
 font-family: 'Nunito', sans-serif;
}

/* HEADER */
.base-header{
    display: flex;
    width: 100vw;
    margin-bottom: 20px;
    background-color: ;
    align-items: center;
    justify-content: space-around;
}

.header_wrapper{
width: 60%;
height: 7vh;
display: flex;
align-items: center;
justify-content: space-around;
}

.base-header .logo h2{
    font-size: 36px;
    color: black;
}

.base-header .logo a{
    text-decoration: none;
}

.base-header .base-header-nav{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.base-header .base-header-nav a{
    font-size: 24px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    transition: color 0.1s ease;
}

.base-header .base-header-nav a:hover{
    color: rgb(0, 0, 204);
}

/* ПОИСК */
.find-area-box .find-area-input{
    padding: 6px;
    width: 100%;
}

.find-area-box .search-form{
display: flex;
align-items: center;
gap: 10px;
width: 15vw;
border-radius: 5px;}

.find-area-box .find-area-input::placeholder{
    font-size: 16px;
}

.find-area-box .find_sumbit{
    border: none;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* LOGIN */
.login_wrapper{
display: flex;
gap: 30px;
align-items: center;

}

.login_wrapper .authorized_username{
font-size:24px;
}

.login_wrapper .login_link {
    text-decoration: none;
    color: black;
    transition: 0.2s ease;
    border: 1px solid black;
    padding: 6px 10px;
    font-size:24px;
}

.login_wrapper .login_link:hover{
color: blue;
font-size: 26px;
}

.login_wrapper .logout_link{
    text-decoration: none;
    color: black;
    margin-top:3px;
}

.login_wrapper .logout_link:hover{
color: blue;

}

.login_wrapper .register_link{
    text-decoration: none;
    color: black;
    transition: 0.2s ease;
    border: 1px solid black;
    padding: 6px 10px;
    font-size:24px;
}

.login_wrapper .register_link:hover{
    color: blue;
    font-size: 26px;
}

/* FOOTER */
.base-footer{
    width: 60vw;
    margin: 20px auto;
}

.base-footer .footer-menu{
    display: flex;
    font-size: 16px;
    justify-content: space-around;
}

.base-footer .footer-menu .copy-footer-menu-item a{
    color: rgba(0, 0, 0, 0.918);
    text-decoration: none;
}
