.control_panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10vw auto 10vw auto;
    width: 60vw;
    gap: 15px;
}

.control_panel a{
color: black;
font-size: 40px;
text-decoration: none;
transition: 0.2s ease;
}

.control_panel a:hover{
font-size: 42px;
color: blue;
}